* {
	box-sizing: border-box;
}

body, td, th {

	font-size: 16px;
	color: #000;
  margin: 3.2em; /* 50px */
}

a {
	font-family: 'Faune', monospace;
	text-decoration: none;
	color: #488851;
}

a:visited {
	color: #488851;
}

a:hover {
	font-style: italic;
	color: #be624a;
}

h2 {
	font-size: 4em;
	margin-bottom: 0;
}

/* div sous images de _test */
.div-color {
	background-color: #488851; /* vert original #488851, bleu #455da3 */
}

/* blend mode des images de _test */
.img-blend {
	mix-blend-mode: hard-light;
}

.div-color,
.img-blend {
	width: 100%;
	max-width: 1000px; /* 1000px */
	max-height: 660px; /* 660px */
}

.page {
	width: 100%;
}

.content {
	max-width: 62.5em;;
	margin: 0 auto;
}

/* ----- test centrage texte sur image ----- */

/* div text à mettre dans div-color sous lien image */

/* sur div-color */
.center-container {
	position: relative;
  text-align: center;
}

/* sur div text */
.centered {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* sur h2 */
.centered-margin-top {
	color: #fff;
	margin-top: 0;
}

/* c'est moche mais c'est pour le test */
.white {
	color: #fff;
}

.white:hover {
	color: #ccd24a;
}
